.cards {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    height: 30em;
    width: 22em;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    border-radius: 10px;
    margin: 1%;
    padding: 1.5em;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.card:hover {
    transform: scale(1.1);
}

.section {
    display: block;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.line {
    display: flex;
    flex-wrap: wrap;
}

.line .bloc {
    min-width: 50%;
    flex: 1 1 300px;
}

.line .bloc > div {
    text-align: center;
}

.line1 .bloc1 img{
    width: 80%;
    height: 80%;
}

.section2 h1 {
    margin: auto;
}
.section2 .comicsFriendspic3{
    max-width: 40%;
    max-height: 40%;
    margin: auto;
}

.section2 {
    justify-content: center;
}

.section2, line1 {
    
}

.section2 .line1 .bloc {
    min-width: 25%;
    padding: 1.5em 1em;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}
.section2 .line1 .bloc h2 {
    text-align: center;
}

.section3 .description {
    padding-left: 20%;
    padding-right: 20%; 
    margin: 0 auto 5em auto;
    text-align: justify;
}

.section5 {
    padding: 1em;
    height: 100vh;
}

.section5 .team .teamList {
    margin-top: 2em;
}

.section5 .team .teamList ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 6em auto;
}

.section5 .team .teamList li {
    margin: 0.3em 0;
}

/*Mobile view*/
@media (max-width: 750px) {
    .space {
        display: none;
    }
    
}

