* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color:white;
  font-size: 1.03em;
}

h1 {
  font-size: xx-large;
  margin-bottom: 1em;
  color: rgb(204, 184, 6);
  text-transform: uppercase;
}

h2 {
  font-size: x-large;
  margin-bottom: 1em;
  color: rgb(204, 184, 6);
}

body {
  background-color: black;
}

section {
  padding: 0 2em;
}

.logoMenu {
  width: 8em;
  padding: 1em;
}

.menuApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
  text-transform: uppercase;
}

.homeMenuList {
  display: flex;
  justify-content: space-between;
}

.homeMenuList li a {
  padding: 0.5rem 0.5rem;
  display: block;
}

.homeMenuList li a:hover {
  border:1px solid rgb(204, 184, 6);
  border-radius: 2px;
  color: rgb(204, 184, 6);
}
.homeMenuList li a {
  color: white;
}

.authentification {
  margin-right: 1em;
  padding: 0.5rem 0.5rem;
  display: block;
  cursor: pointer;
}

.authentification:hover {
  border:1px solid rgb(204, 184, 6);
  border-radius: 2px;
  color: rgb(204, 184, 6);
}

.content {
  padding: 0.5em;
}

@media (max-width: 750px) {
    .homeMenuList {
      flex-direction: column;
    }
}

@media (max-width: 500px) {
  .menuApp {
    flex-direction: column;
  }
}