* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.03em;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 1em;
  color:#124265;
}

h2 {
  font-size: x-large;
  margin-bottom: 1em;
  color:#124265;
}