* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.03em;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: xx-large;
  margin-bottom: 1em;
  color: rgb(204, 184, 6);
  text-transform: uppercase;
}

h2 {
  font-size: x-large;
  margin-bottom: 1em;
  color: rgb(204, 184, 6);
}

section {
  padding: 0 2em;
}

.logoMenu {
  width: 13em;
  padding: 1em;
}

.menuApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
  text-transform: uppercase;
  border-bottom: 1px solid #fffddb88;
}

.homeMenuList {
  display: flex;
  justify-content: space-between;
}

.homeMenuList li a {
  padding: 0.5rem 0.5rem;
  display: block;
  transition:all 1s;
  color:black;
}

.homeMenuList li a:hover {
  border:1px solid rgb(204, 184, 6);
  border-radius: 2px;
  color: rgb(204, 184, 6);
}

.authentification {
  margin-right: 1em;
  padding: 0.5rem 0.5rem;
  display: block;
  cursor: pointer;
  transition:all 1s;
  color: black
}

.authentification:hover {
  border:1px solid rgb(204, 184, 6);
  border-radius: 2px;
  color: rgb(204, 184, 6);
}

.content {
  padding: 0.5em;
  /* background-color: rgba(238, 238, 238, 0.329); */
}

@media (max-width: 750px) {
    .homeMenuList {
      flex-direction: column;
    }
}

@media (max-width: 500px) {
  .menuApp {
    flex-direction: column;
  }
}